.offerDiv{
    padding: 10px 20px;
    border: 5px solid #0927b7;
    font-weight: bold;
}
.plusIcon{
    text-align: center;
    padding-top: 10%;
    font-size: 44px;
}
.comboPrice{
    color: #0f0;
    font-size: 22px;
    padding-top: 10%;
}
