<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">  
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info custom-navbar">
      <div class="container">
          <!-- LOGO -->
          
          <a title="Smart Market"><img src="assets/img/logo.jpg" width="150px"
            height="100%"
              alt="Smart Market" title="KonarkDryFruitMarket"></a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            
              <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                  <li class="nav-item ">
                    
                      <a class="nav-link" routerLink="/home" title="Home">Home </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/dryFruits"  title="dryFruits" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      DRY FRUITS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" >CASHEW</a></li>
                      <li><a class="dropdown-item" >ALMOND</a></li>
                      <li><a class="dropdown-item" >RAISINS(KHISMIS)</a></li>
                      <li><a class="dropdown-item" >WALNUT</a></li>
                      <li><a class="dropdown-item" >FIGS(ANJEER)</a></li>
                      <li><a class="dropdown-item" >DATES(KHAJUR)</a></li>   
                      <li><a class="dropdown-item" >SALTED & ROASTED PISTACHIOS</a></li>
                      <li><a class="dropdown-item" >MIX DRY FRUITS</a></li>
                      <li><a class="dropdown-item" >DRIED KIWI</a></li>
                      <li><a class="dropdown-item" >DRIED BLUEBERRIES</a></li>
                      <li><a class="dropdown-item" >DRIED APRICATS</a></li>
                      <li><a class="dropdown-item" >MAKHANA</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/spices"  title="spices" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      SPICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item " >BLACK PEPPER(KALI MIRCHi)</a></li>
                      <li><a class="dropdown-item" >CARDAMOM(ELAICHI)</a></li>
                      <li><a class="dropdown-item" >CLOVE</a></li>
                      <li><a class="dropdown-item" >CINNAMON</a></li>
                      <li><a class="dropdown-item" >MUSTARD SEEDS</a></li>
                      <li><a class="dropdown-item" >CUMIN</a></li>
                      <li><a class="dropdown-item" >PANCH PHUTAN</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/spices"  title="spices" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      DAILY NEEDS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item " >MUSTARD OIL</a></li>
                      <li><a class="dropdown-item" >PAPAD</a></li>
                      <li><a class="dropdown-item" >TOOTH PEST</a></li>
                      <li><a class="dropdown-item" >SANITIZERS</a></li>
                      <li><a class="dropdown-item" >MUSTARD SEEDS</a></li>
                      <li><a class="dropdown-item" >EGGS</a></li>
                      <li><a class="dropdown-item" >BREAD</a></li>
                      <li><a class="dropdown-item" >CHOCOLATES</a></li>
                      <li><a class="dropdown-item" >SNACKS</a></li>
                    </ul>
                  </li>
                 
                
                 
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/offers"  title="offers" >OFFERS ZONE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact" title="Contact Us">CONTACT US</a>
              </li>
                 
                  
                  
              </ul>
              <button class="btn btn-sm btn-custom navbar-btn"   routerLink="/login"  routerLinkActive="hide" >Sign In </button>
              
          </div>
      </div>
  </nav>



    
  </div>
   
  </header>