<div class="routerBox">
  <div class="dryFruitsBox">
<div class="row text-center">
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="30"  [imgUrl]="'assets/img/cuminSpecial.jpg'" [productName]="'Special Cumin'" [Qty]="500"
  [MRP]="149.00" [sellPrice]="99.00" [Unit]="'gm'" [halfSellPrice]="25.00"  [halfUnit]="'100gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
<app-products [productId]="31" [imgUrl]="'assets/img/panchPhoronSpecial.jpg'" [productName]="'Special Punch Phutan'" [Qty]="500"
[MRP]="135" [sellPrice]="70"  [Unit]="'gm'" [halfSellPrice]="15.00"  [halfUnit]="'100gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
<app-products [productId]="32" [imgUrl]="'assets/img/musterdSeedsSpecial.jpg'" [productName]="'Special Mustard Seeds '" [Qty]="500"
[MRP]="130" [sellPrice]="65"  [Unit]="'gm'" [halfSellPrice]="15.00"  [halfUnit]="'100gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
<app-products [productId]="33" [imgUrl]="'assets/img/blackPepperSpecial.jpg'" [productName]="'Special Black Pepper'" [Qty]="250"
[MRP]="200.00" [sellPrice]="150.00"  [Unit]="'gm'" [halfSellPrice]="60.00"  [halfUnit]="'100gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
<app-products [productId]="34" [imgUrl]="'assets/img/cardamomSpecial.png'" [productName]="'Special Cardamom(8 mm) '" [Qty]="25"
[MRP]="85" [sellPrice]="60" [Unit]="'gm'" [halfSellPrice]="110.00"  [halfUnit]="'50gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
<app-products [productId]="35" [imgUrl]="'assets/img/cloveSpecial.jpg'" [productName]="'Special Clove'" [Qty]="50"
[MRP]="75.00" [sellPrice]="45.00" [halfSellPrice]="90.00" [Unit]="'gm'" [halfUnit]="'100gm'"></app-products>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="36" [imgUrl]="'assets/img/cinnamonRoundStick.jpg'" [productName]="'Round Stick Cinnamon '" [Qty]="100"
  [MRP]="95" [sellPrice]="70" [Unit]="'gm'" [halfSellPrice]="350.00"  [halfUnit]="'500gm'"></app-products>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="37" [imgUrl]="'assets/img/cinnamonRegular.jpg'" [productName]="'Regular Cinnamon'" [Qty]="100"
  [MRP]="70.00" [sellPrice]="40.00" [halfSellPrice]="200.00" [Unit]="'gm'" [halfUnit]="'500gm'"></app-products>
  </div>


</div>
</div>
</div>