<div class="routerBox">
    <div class="dryFruitsBox">
<div class="row text-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="24" [imgUrl]="'assets/img/canberriesRegency.png'" [productName]="'Regency Canberries'" [Qty]="200"
    [MRP]="220.00" [sellPrice]="160.00" [Unit]="'gm'" [halfSellPrice]="320.00" [halfUnit]="'2pc'"></app-products>
   </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="25" [imgUrl]="'assets/img/mixDryFruitsRegency.jpg'" [productName]="'Trail Mix Dry Fruits'" [Qty]="200"
    [MRP]="360.00" [sellPrice]="260.00" [Unit]="'gm'" [halfSellPrice]="500.00" [halfUnit]="'2pc'"></app-products>
   </div>
   <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="26" [imgUrl]="'assets/img/driedKiwiRegency.jpg'" [productName]="'Regency Dried Kiwi'" [Qty]="200"
    [MRP]="197.00" [sellPrice]="155.00" [Unit]="'gm'" [halfSellPrice]="300.00"  [halfUnit]="'2Pc'"></app-products>
   </div>
   <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="27" [imgUrl]="'assets/img/apricatsRegency.jpg'" [productName]="'Regency Apricats'" [Qty]="200"
    [MRP]="195.00" [sellPrice]="140.00" [Unit]="'gm'" [halfSellPrice]="270.00"  [halfUnit]="'2Pc'"></app-products>
   </div>
   <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="28" [imgUrl]="'assets/img/blueberriesRegency.png'" [productName]="'Regency Dried Blueberries'" [Qty]="75"
    [MRP]="240.00" [sellPrice]="140.00" [Unit]="'gm'" [halfSellPrice]="270.00"  [halfUnit]="'2Pc'"></app-products>
   </div>
</div>
</div>
   
</div>
