<div class="routerBox">
    <div class="dryFruitsBox">
<div class="row text-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="26" [imgUrl]="'assets/img/driedKiwiRegency.jpg'" [productName]="'Regency Dried Kiwi'" [Qty]="200"
    [MRP]="197.00" [sellPrice]="155.00" [Unit]="'gm'" [halfSellPrice]="300.00"  [halfUnit]="'2Pc'"></app-products>
   </div>
   
   <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="28" [imgUrl]="'assets/img/nuts-dried.png'" [productName]="'Dried Nuts'" [Qty]="75"
    [MRP]="240.00" [sellPrice]="140.00" [Unit]="'gm'" [halfSellPrice]="270.00"  [halfUnit]="'2Pc'"></app-products>
   </div>
</div>
</div>
   
</div>
