<div class="routerBox">
    <div class="dryFruitsBox">
<div class="row text-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-products [productId]="1"  [imgUrl]="'assets/img/CASHEW180.jpg'" [productName]="'PREMIUM W-180'" [Qty]="1"
    [MRP]="820.00" [sellPrice]="699.00"></app-products>
  </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="2" [imgUrl]="'assets/img/CashewW210.jpg'" [productName]="'PREMIUM W-210 CASHEW'" [Qty]="1"
  [MRP]="750.00" [sellPrice]="650.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="3" [imgUrl]="'assets/img/cashewW240.jpg'" [productName]="'PREMIUM W-240 CASHEW '" [Qty]="1"
  [MRP]="700.00" [sellPrice]="610.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="4" [imgUrl]="'assets/img/cashewW320.jpg'" [productName]="'PREMIUM W-320 CASHEW'" [Qty]="1"
  [MRP]="670.00" [sellPrice]="600.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="5" [imgUrl]="'assets/img/cashewJH.jpg'" [productName]="'PREMIUM  CASHEW JH(1/2 PIECE) '" [Qty]="1"
  [MRP]="600.00" [sellPrice]="520.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="6" [imgUrl]="'assets/img/Almondcalifornia.jpg'" [productName]="'California Almond'" [Qty]="1"
  [MRP]="945.00" [sellPrice]="750.00" [halfSellPrice]="380.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="7" [imgUrl]="'assets/img/almondRegular.jpg'" [productName]="'Regular Almond'" [Qty]="1"
  [MRP]="800.00" [sellPrice]="690.00" [halfSellPrice]="350"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="8" [imgUrl]="'assets/img/raisinAfganiBlack.png'" [productName]="'Afgani Black Raisin'" [Qty]="1"
  [MRP]="450.00" [sellPrice]="350.00" [halfSellPrice]="190.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="9" [imgUrl]="'assets/img/raisinBlack.jpg'" [productName]="'Indian Black Raisin'" [Qty]="1"
  [MRP]="375.00" [sellPrice]="270.00" [halfSellPrice]="140.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="10" [imgUrl]="'assets/img/raisinGolden.jpg'" [productName]="'Golden Raisin'" [Qty]="1"
  [MRP]="320.00" [sellPrice]="270.00" [halfSellPrice]="140.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="11" [imgUrl]="'assets/img/raisinGreen.jpg'" [productName]="'Green Raisin'" [Qty]="1"
  [MRP]="400.00" [sellPrice]="300.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="12" [imgUrl]="'assets/img/raisinGreenLong.jpg'" [productName]="'Green Long Raisin'" [Qty]="1"
  [MRP]="450.00" [sellPrice]="275.00"[halfSellPrice]="140.00" ></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="13" [imgUrl]="'assets/img/raisinNormal.jpg'" [productName]="'Normal Golden Raisin'" [Qty]="1"
  [MRP]="220.00" [sellPrice]="160.00" [halfSellPrice]="90.00" ></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="14" [imgUrl]="'assets/img/walnutgGeen-tree-gold.jpg'" [productName]="'Green Tree (Gold)  Walnut'" [Qty]="250"
  [MRP]="375.00" [sellPrice]="270.00" [Unit]="'gm'" [halfSellPrice]="530.00" ></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="15" [imgUrl]="'assets/img/walnutKKK.jpg'" [productName]="'KKK Walnut'" [Qty]="250"
  [MRP]="475.00" [sellPrice]="280.00" [Unit]="'gm'" [halfSellPrice]="545.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="16" [imgUrl]="'assets/img/anjeerSpecialGold.jpg'" [productName]="'Special Gold Anjeer'" [Qty]="250"
  [MRP]="445.00" [sellPrice]="270.00"  [Unit]="'gm'" [halfSellPrice]="520.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="17" [imgUrl]="'assets/img/datesBarari.jpg'" [productName]="'Barari Dates'" [Qty]="500"
  [MRP]="360.00" [sellPrice]="275.00" [Unit]="'gm'" [halfSellPrice]="275.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="18" [imgUrl]="'assets/img/datesBarari2.jpeg'" [productName]="'Barari Dates'" [Qty]="250"
  [MRP]="198.00" [sellPrice]="145.00" [Unit]="'gm'" [halfSellPrice]="290.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="19" [imgUrl]="'assets/img/datesGulf.jpg'" [productName]="'Gulf Dates'" [Qty]="250"
  [MRP]="99.00" [sellPrice]="65.00" [Unit]="'gm'" [halfSellPrice]="120.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="20" [imgUrl]="'assets/img/datesRoyalCrown.jpg'" [productName]="'Royal Crown Cane Dates'" [Qty]="400"
  [MRP]="198.00" [sellPrice]="140.00" [Unit]="'gm'" [halfSellPrice]="280.00"  [halfUnit]="'2Pc'"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="21" [imgUrl]="'assets/img/datesRoyalCrownWhite.jpeg'" [productName]="'Royal Crown White Dates'" [Qty]="500"
  [MRP]="235.00" [sellPrice]="160.00" [Unit]="'gm'" [halfSellPrice]="160.00"  ></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="22" [imgUrl]="'assets/img/DatesTuba.jpg'" [productName]="'Tuba Dates'" [Qty]="500"
  [MRP]="235.00" [sellPrice]="150.00" [Unit]="'gm'" [halfSellPrice]="150.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="23" [imgUrl]="'assets/img/pishtachiosSpecial.jpg'" [productName]="'Special Choice Pistachios (Pista) Roasted And Salted'" [Qty]="250"
  [MRP]="495.00" [sellPrice]="270.00" [Unit]="'gm'" [halfSellPrice]="530.00"></app-products>
 </div>
 <!--
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="24" [imgUrl]="'assets/img/mixed-nut.jpg'" [productName]="'Mixed Nut'" [Qty]="1"
  [MRP]="600.00" [sellPrice]="520.00"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="27" [imgUrl]="'assets/img/nuts_and_dried_fruit.jpg'" [productName]="'Nuts And Dried Fruit'" [Qty]="200"
  [MRP]="600.00" [sellPrice]="520.00"></app-products>
 </div>
 
-->
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="25" [imgUrl]="'assets/img/mixDryFruitsRegency.jpg'" [productName]="'Regency Mix Dry Fruits'" [Qty]="1"
  [MRP]="360.00" [sellPrice]="260.00" [Unit]="'pc'" [halfSellPrice]="500.00" [halfUnit]="'2pc'"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="26" [imgUrl]="'assets/img/driedKiwiRegency.jpg'" [productName]="'Regency Dried Kiwi'" [Qty]="200"
  [MRP]="197.00" [sellPrice]="155.00" [Unit]="'gm'" [halfSellPrice]="300.00"  [halfUnit]="'2Pc'"></app-products>
 </div>
 
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="28" [imgUrl]="'assets/img/nuts-dried.png'" [productName]="'Dried Nuts'" [Qty]="75"
  [MRP]="240.00" [sellPrice]="140.00" [Unit]="'gm'" [halfSellPrice]="270.00"  [halfUnit]="'2Pc'"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="29" [imgUrl]="'assets/img/makhana.jpeg'" [productName]="'Makhana'" [Qty]="250"
  [MRP]="235.00" [sellPrice]="190.00" [Unit]="'gm'" [halfSellPrice]="270.00"  [halfUnit]="'2Pc'"></app-products>
 </div>
 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <app-products [productId]="38" [imgUrl]="'assets/img/cherry.jpg'" [productName]="'Special Cherry(BIG SIZE)'" [Qty]="250"
  [MRP]="99.00" [sellPrice]="70.00" [Unit]="'gm'" [halfSellPrice]="220.00"  [halfUnit]="'1kg'"></app-products>
 </div>
  
   
  
</div>
</div>
   
</div>
