<div class="">
  <div class="carouselDiv">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="assets/img/banner1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/img/banner2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/img/banner3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="text-center middleBox">

    <h1>Shop Categories</h1>
    <div class="title-after_title">Premium Quality Dry Fruits , Nuts &amp; Spices</div>

    <div class="shopBox">
      <div class="row">
        <div class="col-sm-6 col-md-9 col-lg-9">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="imageBox text-link" routerLink="/dryFruits">
                <div class="imgDiv">
                  <img src="assets/img/dryFruits.jpg" alt="" class="img-fluid">
                </div>
                <div class="hover-mask">
                  <a class="category-link-overlay"></a>
                  <button routerLink="/dryFruits"  title="dryFruits">Dry Fruits</button>

                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="imageBox text-link" routerLink="/spices">
                <div class="imgDiv">
                  <img src="assets/img/spices.jpg" alt="" class="img-fluid">
                </div>
                <div class="hover-mask">
                  <a class="category-link-overlay"></a>
                  <button  routerLink="/spices"  title="spices">Spices</button>

                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="imageBox text-link" routerLink="/driedFruits">
                <div class="imgDiv">
                  <img src="assets/img/driedFruits.jpg" alt="" class="img-fluid">
                </div>
                <div class="hover-mask">
                  <a class="category-link-overlay"></a>
                  <button  routerLink="/driedFruits"  title="nuts">DRIED FRUITS</button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="imageBox text-link" routerLink="/comboOffers" >
            <div class="imgDiv">
              <img src="assets/img/offerZone.jpg" alt="" class="img-fluid">
            </div>
            <div class="hover-mask">
              <a class="category-link-overlay"></a>
              <button  routerLink="/comboOffers"  title="comboOffers">Offer Zone</button>

            </div>
          </div>
        </div>
      </div>
    </div>

 <!--

    <div class="newArrival">
      <h1>New Arrival</h1>
      <p>Latest Additions</p>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="imageBox text-link" routerLink="/productDetails">
            <div class="imgDiv">
              <img src="assets/img/products/9.jpeg" alt="" class="img-fluid">
            </div>
            <div class="prodDesc">
              <p>Fig 250gm & Walnuts 250gm (Grade A) Combo</p>
              <p><span class="price"><del><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>913.00</bdi></span></del>
                  <ins><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>750.00</bdi></span></ins></span></p>
              <div class=""><button class="cart" type="submit">ADD TO CART</button></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="imageBox text-link" routerLink="/productDetails">
            <div class="imgDiv">
              <img src="assets/img/products/10.jpeg" alt="" class="img-fluid">
            </div>
            <div class="prodDesc">
              <p>Fig 250gm & Walnuts 250gm (Grade A) Combo</p>
              <p><span class="price"><del><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>913.00</bdi></span></del>
                  <ins><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>750.00</bdi></span></ins></span></p>
              <div class=""><button class="cart" type="submit">ADD TO CART</button></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="imageBox text-link" routerLink="/productDetails">
            <div class="imgDiv">
              <img src="assets/img/products/11.jpeg" alt="" class="img-fluid">
            </div>
            <div class="prodDesc">
              <p>Fig 250gm & Walnuts 250gm (Grade A) Combo</p>
              <p><span class="price"><del><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>913.00</bdi></span></del>
                  <ins><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>750.00</bdi></span></ins></span></p>
              <div class=""><button class="cart" type="submit">ADD TO CART</button></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="imageBox text-link" routerLink="/productDetails">
            <div class="imgDiv">
              <img src="assets/img/products/12.jpeg" alt="" class="img-fluid">
            </div>
            <div class="prodDesc">
              <p>Fig 250gm & Walnuts 250gm (Grade A) Combo</p>
              <p><span class="price"><del><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>913.00</bdi></span></del>
                  <ins><span class="woocommerce-Price-amount amount"><bdi>
                        <span class="woocommerce-Price-currencySymbol">₹</span>750.00</bdi></span></ins></span></p>
              <div class=""><button class="cart" type="submit">ADD TO CART</button></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  -->

    <div class="descriptionDetails ">
      <p><span class="title-subtitle font-default">Eat Healthy and be healthy</span></p>
      <h2>Why Choose Konark Dry Fruits Home ?</h2>
      <div class="text-left">
        <p><strong>Do you know, the best quality dry fruits and nuts harvested in India are exported to foreign
            countries and only the left overs are sold in Indian market?</strong></p>
        <p>Then how will you get the complete health benefits of the nuts and dry fruits you buy? And if we dont get the
          benefits then what is the use of buying it at all!</p>
        <p>Dry Fruits Home purchases the high quality and export quality dry fruits , nuts & spices directly from the
          farmers and provide them to you. Thus the products we delivered are all fresh and healthy and without any
          adulteration.</p>
        <p>Our motto is to provide the best quality product and service to all our customers so that the health benefits
          are complete.</p>
        <p>The products ordered will be delivered within 3 to 5 working days across India.</p>
        <p><strong>Order through us and get the best quality dry fruits, nuts and spices delivered directly to your home
            and enjoy its complete benefits!!</strong></p>
      </div>


    </div>



  </div>


</div>