<div class="routerBox">
    <div class="offerUI">
        <div class="offerImageDiv">
            <img src="assets/img/offer.jpg" alt="" class="img-fluid">
        </div>
        <div class="">
            <p style="text-align: center;"><strong><span class="title">Cashback &amp; Coupon Discount Offer Zone</span></strong></p>
            <aside class="__about-offer">
                <div class="__detail-block">
                <h3>1.Get 10% FLAT Instant discount on all orders</h3>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <ol>
                <li>Get 10%&nbsp; flat instant discount during checkout.</li>
                <li>Offer is valid for new &amp; existing user during the offer period</li>
                <li>Offer also valid for all users from 1st Jan&nbsp; – 3oth February, 2019</li>
                <li>Offer is applicable on Website</li>
                <li>No Minimum Order Value</li>
                <li>Use Coupon : <strong>FLAT10OFF</strong></li>
                </ol>
                <h2>2.Refer A Friend and earn upto Rs.1 Lakh</h2>
                <ol>
                <li>Get Flat 10% Offer for each referral.</li>
                <li>Share the Referral URL / Referral Code available in My Account Section in dryfruitshome.com</li>
                <li>Once the order is completed from the user availing your referral code ,You will receive the Coupon code which will be available under My Account in dryfruitshome.com</li>
                <li>Earn more while you share.</li>
                <li>Offer is Valid till November 30,2019.</li>
                <li>Please Note : User availing your Referral code must sign up and place order</li>
                </ol>
                <h2>3.Flat 1% Cashback in Dry Fruits Home Wallet</h2>
                </div>
                <ol>
                <li>Get Flat 1% Cashback to dry fruits home wallet once order is complete.</li>
                <li>Wallet credit is valid lifetime</li>
                <li>Offer is Valid till November 30,2019</li>
                <li>Use wallet for purchase at dryfruitshome.com</li>
                </ol>
                <h3>4.Get 20% FLAT Instant discount for HDFC Times Card on all orders</h3>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <div>
                <ol>
                <li>Get 20%&nbsp; flat instant discount during checkout.</li>
                <li>Offer is valid for new &amp; existing user during the offer period</li>
                <li>Offer also valid for all users from 1st Jan&nbsp; – 3oth December, 2019</li>
                <li>Offer is applicable on Website</li>
                <li>Minimum Order Value – Rs.1300</li>
                <li><strong>Check HDFC TIMES CARD Website for coupon code.<br>
                </strong></li>
                <li><a href="https://hdfcbank.timescard.com/Chennai/online-offers/off-detail/dry-fruits-home">https://hdfcbank.timescard.com/Chennai/online-offers/off-detail/dry-fruits-home</a></li>
                </ol>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </aside>
        </div>
    </div>
</div>
